[report]
omit = 
    */python?.?/*
    */site-packages/nose/*
    */__pycache__/*
    */.pyc
    */.pytest_cache/*
    */API/python?.?/*
    */API/site-packages/nose/*
    */API/__pycache__/*
    */API/.pyc
    */API/.pytest_cache/*
    */tests/__pycache__/*
    */tests/.pytest_cache/*